body, html {

  background: #bdc2e8;
  background: linear-gradient(
                  to right,
                  #bdc2e8,#bdc2e8,#e6dee9
  );

  height: 100%;




}


.todo {
  background: white;
  align-content: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 5rem;
  border-radius: 15px;
  width: 10%;
  padding-top: 1rem;







}

.todo__title {
  color: black;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  left: -2.5rem;
  position: relative;









}

.todo__input {
  border-radius: 20px;
  width: 110%;
  height: 3rem;
  background-color: rgba(128, 128, 128, 0.27);
  border: none;
  padding-left: 1rem;
  left: -2.5rem;
  position: relative;
  color: rgba(128, 128, 128, 0.9);;


}

.todo__input::placeholder {
  color: black;
  opacity: 0.5;




}

.todo__icon {
  width: 30px;
  height: 30px;
}


